body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.active{
  background-color: #03a696;
  color: #303030;
  border-radius: 8px;
  padding: 2px;
}
main {
  width: 1200px;
}
.es-header {
  display: flex;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
}

.es-logo {
  height: 80px;
}

.es-nav {
  width: 50%;
}

.es-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #303030;
}

.es-nav ul a {
  text-decoration: none;
  color: #303030;
}
.es-nav ul li:hover {
  color: #f25c27;
}

.es-imagenportada {
  height: 570px;
  width: 100%;
  margin-bottom: 2%;
}

.es-descubrearequipa {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}
.es-titulodescubre {
  width: 300px;
}

.es-textodescubre {
  width: 25%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #303030;
  text-align: center;
}

.es-lugares-turisticos {
  background-image: url(../images/turistico.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}
.es-lugares-turisticos a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.es-lugares-turisticos a:hover {
  color: white;
}
.es-platos-tipicos {
  background-image: url(../images/plato.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.es-platos-tipicos a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.es-platos-tipicos a:hover {
  color: white;
}

.es-costumbres {
  background-image: url(../images/costumbres.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.es-costumbres a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.es-costumbres a h1 {
  opacity: 1;
}
.es-costumbres a:hover {
  color: white;
}

.es-separador {
  width: 800px;
}

.es-viajaseguro {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4%;
}
.es-div-viajaseguro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.es-textoviajaseguro {
  text-align: center;
  width: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #303030;
  margin-bottom: 4%;
}
.es-viajaseguro div section {
  background-color: #5c5c5c;
  width: 30%;
  margin: 10px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 450px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
.es-precios {
  font-size: 100px;
  margin: 0;
}

.es-botonesviajaseguro {
  color: white;
  border: none;
  background-color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  width: 185px;
  border-radius: 8px;
  text-decoration: none;
}

.es-botonesviajaseguro:hover {
  cursor: pointer;
}

.es-viajarnuncafuetanfacil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 5%;
}

.es-viajarnuncafuetanfacilimg {
  width: 60%;
}

.es-viajarnuncafuetanfacil div a section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e6e6e6;
  align-items: center;
  text-align: center;
}
.es-viajarnuncafuetanfacil div a {
  text-decoration: none;
  color: black;
  width: 30%;
  padding: 5px;
}
.es-viajarnuncafuetanfacil div {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.es-booking {
  width: 165px;
}
.es-viajarnuncafuetanfacil div a section p {
  padding: 10px;
}
#ahorraconbooxing p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
#ahorraconbooxing {
  height: 100%;
}
.es-viajanuncafuetanfacilimgs {
  min-height: 300px;
}
.es-ubicacion {
  width: 75px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#ubicacion {
  background-color: #03a696;
  height: 100%;
}
#ubicacion h1 {
  color: white;
}
#ubicacion p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
.es-excursiones {
  width: 115px;
  margin-bottom: 10px;
  margin-top: 34px;
}
#mejoresexcursiones {
  height: 100%;
}
#mejoresexcursiones p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.es-titulohistoria {
  width: 70%;
}
.es-historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}
.es-historia div section {
  width: 40%;
}
.es-historia div {
  display: flex;
  justify-content: center;
}
.es-historia div section p {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
}
.es-historia div section img {
  height: 400px;
  width: 400px;
  padding: 10px;
}
.es-botonhistoria {
  color: white;
  border: none;
  background-color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  width: 130px;
  border-radius: 8px;
  margin-top: 4%;
}

.es-mapa {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.es-mapaimg {
  width: 18%;
  margin-top: 3%;
}
.es-iframemapa {
  border: 0;
  height: 450px;
  width: 100%;
}
.es-lima-arequipa {
  height: 70px;
  width: 800px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.es-footer {
  width: 100%;
  background-color: #025158;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.es-imgs {
  height: 28px;
  width: 119px;
  margin-top: 10px;
}

.es-footer div p {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.es-footer1 {
  width: 180px;
  margin-top: 8%;
}
.es-footer2 {
  width: 120px;
  margin-top: 8%;
}
.es-footer3 {
  width: 140px;
}
.es-footer div h1 {
  font-size: 22px;
}
.es-redessociales {
  display: flex;
  flex-direction: column;
}

.es-redessociales i {
  font-size: 22px;
  display: flex;
  padding: 4px;
  margin-top: 5px;
}
.es-redessociales img {
  margin-bottom: 16px;
}
.es-travesia-img {
  height: 23px;
  width: 180px;
  margin-top: 5px;
  padding: 4px;
}

/*nosotros*/
.es-nosotrostitle {
  font-size: 38px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #5c5c5c;
}
.es-imagenportada2 {
  width: 100%;
  margin-bottom: 50px;
}

.es-costumbre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.es-titulocostumbres {
  width: 60%;
}

.es-costumbre div {
  display: flex;
  justify-content: center;
  width: 77%;
}
.es-costumbre div div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 55%;
  padding: 25px;
}
.es-costumbre div div h1 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  color: #5c5c5c;
}
.es-costumbre div div p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-stretch: wider;
}

.es-bg-red {
  background-color: rgb(236, 100, 100);
}
.es-costumbre div img {
  height: 390px;
  width: 400px;
}
.es-bg-light-blue {
  background-color: rgb(240, 217, 154);
}

.es-seccioncomunidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-stretch: ultra-expanded;
  font-size: 18px;
  margin-bottom: 40px;
}

.es-titulocomunidad {
  margin-top: 30px;
  margin-bottom: 20px;
}

.es-all {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.es-all img {
  width: 25%;
}

.es-seccionmision {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.es-seccionmision div {
  width: 38%;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-stretch: ultra-condensed;
}

/*experiencias*/
.es-portada4 {
  width: 100%;
}

.es-mejoresfestividades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.es-experienciastitulo {
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-festividadescontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.es-festividadescontainer div img {
  height: 460px;
  width: 460px;
}

.es-festividadescontainer div {
  width: 40%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.es-festividadescontainer div p {
  width: 60%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-deportesextremostitulo {
  width: 60%;
}

.es-rafting {
  background-image: url("../images/rafting.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.es-puenting {
  background-image: url("../images/puenting.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.es-parapente {
  background-image: url("../images/parapente.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.es-downhill {
  background-image: url("../images/downhilll.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.es-deportessection div h1 {
  height: 240px;
  width: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-deportessection div p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-bg-1 {
  background-color: #83bdae;
}

.es-bg-2 {
  background-color: #e7de8b;
}

.es-deportes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.es-deportessection {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.es-deportessection div {
  width: 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 1em;
}

/**/
.es-platostipicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.es-platostipicos-titulo {
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.es-platostipicossection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.es-platostipicossection div {
  width: 25%;
  margin: 10px;
  text-align: center;
}
.es-platostipicossection div img {
  height: 220px;
  width: 220px;
}

/*destinos*/

.es-lugaresturisticostitle {
  width: 50%;
}

.es-destinosportada {
  width: 100%;
}

.es-lugaresrutisticosdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-lugaresrutisticosdiv div img {
  width: 700px;
  height: 500px;
}

.es-lugaresrutisticosdiv div div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-lugaresrutisticosdiv div div p {
  width: 60%;
  color: #f1e9e9;
  font-weight: bold;
}

.es-lugaresrutisticosdiv div {
  display: flex;
  background-color: #03a696;
  margin-top: 20px;
  margin-bottom: 20px;
}

.es-seccionrutas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-seccionrutas div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.es-seccionrutas div div {
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 400px 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  margin-bottom: 30px;
}

.es-seccionrutas div div p {
  margin: 0;
  padding: 20px;
  background-color: #00000080;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.es-rutas-careveli {
  background-image: url("../images/careveli.png");
}
.es-rutas-mollendo {
  background-image: url("../images/islaymollendo.png");
}
.es-rutas-camana {
  background-image: url("../images/camana.png");
}
.es-rutas-vallevolcanes {
  background-image: url("../images/andagua.png");
}
.es-rutas-reservanacional {
  background-image: url("../images/reservanacionalsalinas.png");
}
.es-rutas-vallemajes {
  background-image: url("../images/vallemajes.png");
}
.es-rutas-pobladossur {
  background-image: url("../images/pobladossur.png");
}
.es-rutas-vallecanon {
  background-image: url("../images/vallecanon.png");
}

.es-rutasdescatadastitle {
  width: 55%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*blog*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-blogtitulo {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #3d3b3bc2;
}

.es-portada5 {
  width: 100%;
  height: 700px;
  margin-bottom: 40px;
}

.es-notas {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-notas h1 {
  font-size: 33px;
  padding: 10px;
  color: teal;
}

.es-notas p {
  text-align: start;
  width: 80%;
  padding: 10px;
  font-weight: 400;
  color: #303030da;
}

.es-notas img {
  height: 450px;
  width: 750px;
}

.es-datos-blog {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  color: #2b2a2ac9;
}

.es-datos-blog li svg {
  width: 18px;
}

.es-manantialmamacocha {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-manantialmamacocha h1 {
  font-size: 27px;
  color: #03a696;
}

.es-manantialmamacocha p {
  font-weight: 400;
  color: #303030da;
}

.es-manantialmamacocha img {
  height: 450px;
  width: 750px;
}

.es-cotahuasi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-cotahuasi h1 {
  font-size: 27px;
  color: tomato;
}

.es-cotahuasi p {
  font-weight: 400;
  color: #303030da;
  width: 70%;
}

.es-cotahuasi div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.es-cotahuasi div img {
  height: 450px;
  width: 750px;
}
.es-cotahuasi div h3 {
  font-size: 23px;
  color: #025158;
}
.es-cotahuasi div p {
  font-weight: 400;
  color: #303030da;
  width: 25%;
}

.es-castilloforga {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-castilloforga h1 {
  font-size: 26px;
}

.es-castilloforga p {
  font-weight: 400;
  color: #303030da;
}

.es-castilloforga div {
  display: flex;
}

.es-castilloforga div p {
  padding: 10px;
  font-weight: 500;
}

.es-castilloforga div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.es-huasicac {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.es-huasicac img {
  height: 450px;
  width: 750px;
}

.es-huasicac p {
  font-weight: 500;
  color: #303030da;
}

.es-huasicac div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.es-huasicac div img {
  height: 255px;
  width: 355px;
}

/*contacto*/
.es-titlecontacto {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.es-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #03a696;
  width: 500px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.es-form-input {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.es-form-btn {
  margin: 20px;
  background-color: #f25c27;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.es-form-label {
  width: 200px;
  padding: 2px;
  font-size: 13px;
  color: rgb(211, 199, 199);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.es-form-textarea {
  margin: 10px;
}

.es-form-btn:hover {
  background-color: white;
  color: #303030;
  cursor: pointer;
  transition: 500ms;
}
.es-form-input:focus,
.es-form-textarea:focus {
  outline: none;
}
