body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  width: 1200px;
}
.mr-header {
  display: flex;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
}

.mr-logo {
  height: 80px;
}

.mr-nav {
  width: 50%;
}

.mr-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #303030;
}

.mr-nav ul a {
  text-decoration: none;
  color: #303030;
}
.mr-nav ul li:hover {
  color: #f25c27;
}

.mr-imagenportada {
  height: 570px;
  width: 100%;
  margin-bottom: 2%;
}

.mr-descubrearequipa {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}
.mr-titulodescubre {
  width: 300px;
}

.mr-textodescubre {
  width: 25%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #303030;
  text-align: center;
}

.mr-lugares-turisticos {
  background-image: url(./images/turistico.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}
.mr-lugares-turisticos a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mr-lugares-turisticos a:hover {
  color: white;
}
.mr-platos-tipicos {
  background-image: url(./images/plato.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.mr-platos-tipicos a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mr-platos-tipicos a:hover {
  color: white;
}

.mr-costumbres {
  background-image: url(./images/costumbres.png);
  background-size: 284px 434px;
  background-repeat: no-repeat;
  height: 434px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.mr-costumbres a {
  color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mr-costumbres a h1 {
  opacity: 1;
}
.mr-costumbres a:hover {
  color: white;
}

.mr-separador {
  width: 800px;
}

.mr-viajaseguro {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4%;
}
.mr-div-viajaseguro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mr-textoviajaseguro {
  text-align: center;
  width: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #303030;
  margin-bottom: 4%;
}
.mr-viajaseguro div section {
  background-color: #5c5c5c;
  width: 30%;
  margin: 10px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 450px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
.mr-precios {
  font-size: 100px;
  margin: 0;
}

.mr-botonesviajaseguro {
  color: white;
  border: none;
  background-color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  width: 185px;
  border-radius: 8px;
  text-decoration: none;
}

.mr-botonesviajaseguro:hover {
  cursor: pointer;
}

.mr-viajarnuncafuetanfacil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 5%;
}

.mr-viajarnuncafuetanfacilimg {
  width: 60%;
}

.mr-viajarnuncafuetanfacil div a section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e6e6e6;
  align-items: center;
  text-align: center;
}
.mr-viajarnuncafuetanfacil div a {
  text-decoration: none;
  color: black;
  width: 30%;
  padding: 5px;
}
.mr-viajarnuncafuetanfacil div {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.mr-booking {
  width: 165px;
}
.mr-viajarnuncafuetanfacil div a section p {
  padding: 10px;
}
#ahorraconbooxing p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
#ahorraconbooxing {
  height: 100%;
}
.mr-viajanuncafuetanfacilimgs {
  min-height: 300px;
}
.mr-ubicacion {
  width: 75px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#ubicacion {
  background-color: #03a696;
  height: 100%;
}
#ubicacion h1 {
  color: white;
}
#ubicacion p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
.mr-excursiones {
  width: 115px;
  margin-bottom: 10px;
  margin-top: 34px;
}
#mejoresexcursiones {
  height: 100%;
}
#mejoresexcursiones p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.mr-titulohistoria {
  width: 70%;
}
.mr-historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}
.mr-historia div section {
  width: 40%;
}
.mr-historia div {
  display: flex;
  justify-content: center;
}
.mr-historia div section p {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
}
.mr-historia div section img {
  height: 400px;
  width: 400px;
  padding: 10px;
}
.mr-botonhistoria {
  color: white;
  border: none;
  background-color: #f25c27;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  width: 130px;
  border-radius: 8px;
  margin-top: 4%;
}

.mr-mapa {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.mr-mapaimg {
  width: 18%;
  margin-top: 3%;
}
.mr-iframemapa {
  border: 0;
  height: 450px;
  width: 100%;
}
.mr-lima-arequipa {
  height: 70px;
  width: 800px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.mr-footer {
  width: 100%;
  background-color: #025158;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mr-imgs {
  height: 28px;
  width: 119px;
  margin-top: 10px;
}

.mr-footer div p {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.mr-footer1 {
  width: 180px;
  margin-top: 8%;
}
.mr-footer2 {
  width: 120px;
  margin-top: 8%;
}
.mr-footer3 {
  width: 140px;
}
.mr-footer div h1 {
  font-size: 22px;
}
.mr-redessociales {
  display: flex;
  flex-direction: column;
}

.mr-redessociales i {
  font-size: 22px;
  display: flex;
  padding: 4px;
  margin-top: 5px;
}
.mr-redessociales img {
  margin-bottom: 16px;
}
.mr-travesia-img {
  height: 23px;
  width: 180px;
  margin-top: 5px;
  padding: 4px;
}

/*nosotros*/
.mr-nosotrostitle {
  font-size: 38px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #5c5c5c;
}
.mr-imagenportada2 {
  width: 100%;
  margin-bottom: 50px;
}

.mr-costumbre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.mr-titulocostumbres {
  width: 60%;
}

.mr-costumbre div {
  display: flex;
  justify-content: center;
  width: 77%;
}
.mr-costumbre div div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 55%;
  padding: 25px;
}
.mr-costumbre div div h1 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  color: #5c5c5c;
}
.mr-costumbre div div p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-stretch: wider;
}

.mr-bg-red {
  background-color: rgb(236, 100, 100);
}
.mr-costumbre div img {
  height: 390px;
  width: 400px;
}
.mr-bg-light-blue {
  background-color: rgb(240, 217, 154);
}

.mr-seccioncomunidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-stretch: ultra-expanded;
  font-size: 18px;
  margin-bottom: 40px;
}

.mr-titulocomunidad {
  margin-top: 30px;
  margin-bottom: 20px;
}

.mr-all {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mr-all img {
  width: 25%;
}

.mr-seccionmision {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mr-seccionmision div {
  width: 38%;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-stretch: ultra-condensed;
}

/*experiencias*/
.mr-portada4 {
  width: 100%;
}

.mr-mejoresfestividades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mr-experienciastitulo {
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-festividadescontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mr-festividadescontainer div img {
  height: 460px;
  width: 460px;
}

.mr-festividadescontainer div {
  width: 40%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mr-festividadescontainer div p {
  width: 60%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-deportesextremostitulo {
  width: 60%;
}

.mr-rafting {
  background-image: url("../images/rafting.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.mr-puenting {
  background-image: url("../images/puenting.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.mr-parapente {
  background-image: url("../images/parapente.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.mr-downhill {
  background-image: url("../images/downhilll.png");
  background-repeat: no-repeat;
  background-size: 283px 240px;
}

.mr-deportessection div h1 {
  height: 240px;
  width: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-deportessection div p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-bg-1 {
  background-color: #83bdae;
}

.mr-bg-2 {
  background-color: #e7de8b;
}

.mr-deportes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mr-deportessection {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mr-deportessection div {
  width: 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 1em;
}

/**/
.mr-platostipicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mr-platostipicos-titulo {
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.mr-platostipicossection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mr-platostipicossection div {
  width: 25%;
  margin: 10px;
  text-align: center;
}
.mr-platostipicossection div img {
  height: 220px;
  width: 220px;
}

/*destinos*/

.mr-lugaresturisticostitle {
  width: 50%;
}

.mr-destinosportada {
  width: 100%;
}

.mr-lugaresrutisticosdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-lugaresrutisticosdiv div img {
  width: 700px;
  height: 500px;
}

.mr-lugaresrutisticosdiv div div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-lugaresrutisticosdiv div div p {
  width: 60%;
  color: #f1e9e9;
  font-weight: bold;
}

.mr-lugaresrutisticosdiv div {
  display: flex;
  background-color: #03a696;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mr-seccionrutas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-seccionrutas div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mr-seccionrutas div div {
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 400px 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  margin-bottom: 30px;
}

.mr-seccionrutas div div p {
  margin: 0;
  padding: 20px;
  background-color: #00000080;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.mr-rutas-careveli {
  background-image: url("../images/careveli.png");
}
.mr-rutas-mollendo {
  background-image: url("../images/islaymollendo.png");
}
.mr-rutas-camana {
  background-image: url("../images/camana.png");
}
.mr-rutas-vallevolcanes {
  background-image: url("../images/andagua.png");
}
.mr-rutas-reservanacional {
  background-image: url("../images/reservanacionalsalinas.png");
}
.mr-rutas-vallemajes {
  background-image: url("../images/vallemajes.png");
}
.mr-rutas-pobladossur {
  background-image: url("../images/pobladossur.png");
}
.mr-rutas-vallecanon {
  background-image: url("../images/vallecanon.png");
}

.mr-rutasdescatadastitle {
  width: 55%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*blog*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-blogtitulo {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #3d3b3bc2;
}

.mr-portada5 {
  width: 100%;
  height: 700px;
  margin-bottom: 40px;
}

.mr-notas {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-notas h1 {
  font-size: 33px;
  padding: 10px;
  color: teal;
}

.mr-notas p {
  text-align: start;
  width: 80%;
  padding: 10px;
  font-weight: 400;
  color: #303030da;
}

.mr-notas img {
  height: 450px;
  width: 750px;
}

.mr-datos-blog {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  color: #2b2a2ac9;
}

.mr-datos-blog li svg {
  width: 18px;
}

.mr-manantialmamacocha {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-manantialmamacocha h1 {
  font-size: 27px;
  color: #03a696;
}

.mr-manantialmamacocha p {
  font-weight: 400;
  color: #303030da;
}

.mr-manantialmamacocha img {
  height: 450px;
  width: 750px;
}

.mr-cotahuasi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-cotahuasi h1 {
  font-size: 27px;
  color: tomato;
}

.mr-cotahuasi p {
  font-weight: 400;
  color: #303030da;
  width: 70%;
}

.mr-cotahuasi div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-cotahuasi div img {
  height: 450px;
  width: 750px;
}
.mr-cotahuasi div h3 {
  font-size: 23px;
  color: #025158;
}
.mr-cotahuasi div p {
  font-weight: 400;
  color: #303030da;
  width: 25%;
}

.mr-castilloforga {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-castilloforga h1 {
  font-size: 26px;
}

.mr-castilloforga p {
  font-weight: 400;
  color: #303030da;
}

.mr-castilloforga div {
  display: flex;
}

.mr-castilloforga div p {
  padding: 10px;
  font-weight: 500;
}

.mr-castilloforga div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mr-huasicac {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-huasicac img {
  height: 450px;
  width: 750px;
}

.mr-huasicac p {
  font-weight: 500;
  color: #303030da;
}

.mr-huasicac div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mr-huasicac div img {
  height: 255px;
  width: 355px;
}
